trigger:
  branches:
    include:
      - main

variables:
  environment: 'dev'
  azureServiceConnection: 'sc-iva-dev'     # Cambia al nombre real de tu Service Connection
  resourceGroup: 'rg-iva-dev'
  location: 'eastus'
  appServicePlanName: 'asp-iva-$(environment)'
  webAppName: 'app-iva-$(environment)'
  skuName: 'F1'

stages:
- stage: Infra
  displayName: 'Deploy infrastructure (Bicep)'
  jobs:
  - job: DeployInfra
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - checkout: self

    - task: AzureCLI@2
      displayName: 'Create RG & Deploy Bicep'
      inputs:
        azureSubscription: '$(azureServiceConnection)'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          set -e
          az group create --name "$(resourceGroup)" --location "$(location)"
          az deployment group create             --resource-group "$(resourceGroup)"             --template-file "infra/main.bicep"             --parameters "@infra/parameters.$(environment).json"             --parameters appServicePlanName="$(appServicePlanName)" webAppName="$(webAppName)" location="$(location)" skuName="$(skuName)"

- stage: App
  displayName: 'Deploy app content (ZIP)'
  dependsOn: Infra
  jobs:
  - job: DeployApp
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - checkout: self

    - task: ArchiveFiles@2
      displayName: 'Archive web content'
      inputs:
        rootFolderOrFile: '$(Build.SourcesDirectory)/web'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/site.zip'
        replaceExistingArchive: true

    - task: AzureCLI@2
      displayName: 'Zip Deploy to Web App'
      inputs:
        azureSubscription: '$(azureServiceConnection)'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          set -e
          az webapp deployment source config-zip             --resource-group "$(resourceGroup)"             --name "$(webAppName)"             --src "$(Build.ArtifactStagingDirectory)/site.zip"